/*
 * Style.Zen stylesheet brought to you by Vladimir Stadnik
 * (c) 2018, written from scratch
 */


/* COMMON TAG ELEMENTS */

body.page {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

a {
  text-decoration: none;
  color: #2e5fa5;
  border-bottom: 1px solid #a4b9d7;
}

a:hover {
  color: #a52e2e;
  border-bottom-color: #d7a4a4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0 0;
  padding: 0;
}

input,
button,
select,
textarea {
  background-color: #fff;
  color: #444;
  border: 1px solid #a8a8a8;
  border-radius: 4px;
  padding: 5px 7px;
  font-size: 1em;
}

.page-main__content {
  width: 60%;
  margin: 2em auto;
}


/* HEADER STYLES */

.page-layout__header {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  background-color: #2196f3;
  color: #d2deef;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}

.page-layout__header-title {
  margin: .1em 1em .1em 0;
  font-size: 1.4rem;
  color: #d2deef;
  font-weight: 700;
}

.page-layout__header-title__link {
  border: 1px solid #d2deef;
  border-radius: 5px;
  padding: 3px 8px;
  margin: 5px 0;
  color: #d2deef;
  background-color: #4682b4;
}

.page-layout__header-title__link:hover {
  color: #f9c4c4;
  border-color: #f9c4c4;
  background-color: #db7093;
}

.page-layout__rightlinks-src {
  display: inline-block;
  font-weight: 600;
  border: 1px solid #edcea3;
  color: #edcea3;
  border-radius: 3px;
  padding: 5px 10px;
}

.page-layout__rightlinks-src:hover {
  background-color: #edcea3;
  border-color: #edcea3;
  color: #2196f3;
}

.page-layout__nav {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  margin: 0 2em;
}

.page-layout__nav-links {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
}

.page-layout__nav-item {
  margin: 0 .5em;
}

.page-layout__nav-link,
.page-layout__nav-nonlink {
  display: inline-block;
  color: #a8e3e3;
}

.page-layout__nav-link {
  border: none;
}

.page-layout__nav-link:hover {
  color: #daf8f8;
}

.page-main__title {
  margin: 1em 0 2em;
}


/* FORM ELEMENTS */

.login-form {
  width: 20em;
  padding: 1em;
  margin: 2em auto;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow:    0px 0px 11px 0px rgba(50, 50, 50, 1);
  box-shadow:         0px 0px 11px 0px rgba(50, 50, 50, 1);
}

.login-form__title {
  margin: 0 0 1em 0;
}

.login-form__item {
  padding: 5px 0;
}

.login-form__inp {
  width: 100%;
  box-sizing: border-box;
}

.login-form__btn {
  margin: 10px 0;
  padding: 5px 0;
  border: none;
  background-color: #2196f3;
  color: #fff;
  font-weight: bold;
}

.simple-form__wrapper {
  list-style: none;
  padding: 0;
}

.simple-form__item {
  display: flex;
  justify-content: flex-end;
}

.simple-form__item--label {
  flex: 1;
}

.simple-form__item--input {
  flex: 2;
}

.simple-form__item,
.simple-form__item--input,
.simple-form__item--label {
  padding: .5em;
}


/* RECOMMENDATIONS.FTL */
/*
article.recommendation-item>h4.recommendation-item__title+div.recommendation-item__description>a  .recommendation-item__link
*/

.recommendation-item {

}

.recommendation-item__title {

}

.recommendation-item__description {

}

.recommendation-item__link {

}

.common-recommendation {

}

.common-recommendation__title {

}

.common-recommendation__link {

}

.recommendation-item__description,
.common-recommendation__description {
  text-align: justify;
}